<%- include('../partials/header') %>
<%- include('../partials/nav') %>



<div class="container w-50 mb-5">
	<form action="/stats/add" method="post" id="add_form-1">
        <div class="form-group row">
            <label for="visitorName" class="col col-form-label">Visitor Name</label>
            <div class="col">
                <input type="text" class="form-control" id="visitorName" placeholder="Enter Visitor Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="field_resort_name" class="col col-form-label">What resort did you ski at?</label>
            <div class="col">
                <input type="text" class="form-control" id="field_resort_name" name="field_resort_name" placeholder="Enter Resort Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="field_resort_days" class="col col-form-label">How many days have you been at the resort?</label>
            <div class="col">
                <input type="text" class="form-control" id="field_resort_days" name="field_resort_days" placeholder="Enter Number of Days">
            </div>
        </div>
        <div class="form-group row">
            <label for="field_runs_beginner" class="col col-form-label">How many green runs?</label>
            <div class="col">
                <input type="text" class="form-control" id="field_runs_beginner" name="field_runs_beginner" placeholder="Enter Number of Greens">
            </div>
        </div>
        <div class="form-group row">
            <label for="field_runs_intermediate" class="col col-form-label">How many blue runs?</label>
            <div class="col">
                <input type="text" class="form-control" id="field_runs_intermediate" name="field_runs_intermediate" placeholder="Enter Number of Blues">
            </div>
        </div>
        <div class="form-group row">
            <label for="field_runs_advancedPlus" class="col col-form-label">How many black runs?</label>
            <div class="col">
                <input type="text" class="form-control" id="field_runs_advancedPlus" name="field_runs_advancedPlus" placeholder="Enter Number of Blacks">
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block w-50 mx-auto">
    </form>
</div>
<!-- The above form action divs are not connected to anything, but the ability to display data from the database should work. -->
<!-- Unsure about how to test this without adding to the database, however. -->
<div class="container">
    <table id="statsTableUser" class="w-75">
        <tr>
            <th>User Name:</th>            
            <td class="text-center"><%- user_stats[0].user_name %></td>
        </tr>
        <tr>
            <th>Number of Resorts Visited:</th>
            <td class="text-center"><%- user_stats[0].num_resorts_visited %></td>
        </tr>
        <tr>
            <th>Days Spent At Resorts:</th>
            <td class="text-center"><%- user_stats[0].days %></td>
        </tr>
        <tr>
            <th>Runs Done: </th>
            <td class="text-center"><%- user_stats[0].num_runs_done %></td>
        </tr>
        <tr>
            <th>Vertical Feet Done: </th>
            <td class="text-center"><%- user_stats[0].vertical_feet %></td>
        </tr>
    </table>
</div>

<br>

<div class="container">
    <table id="statsTableOthers" class="w-75">
        <tr>
            <th>User Name:</th>
            <%
                var cols = ''; 

                all_stats.forEach(function(item) {
                    cols += '<td class="text-center">' + item.user_name + '</td>';
                });
            %>
            <%- cols %>
        </tr>
        <tr>
            <th>Number of Resorts Visited:</th>
            <%
                var cols = ''; 

                all_stats.forEach(function(item) {
                    cols += '<td class="text-center">' + item.num_resorts_visited + '</td>';
                });
            %>
            <%- cols %>            
        </tr>
        <tr>
            <th>Days Spent At Resorts:</th>
            <%
            var cols = ''; 

            all_stats.forEach(function(item) {
                cols += '<td class="text-center">' + item.days + '</td>';
            });
        %>
        <%- cols %>
        </tr>
        <tr>
            <th>Runs Done: </th>
            <%
            var cols = ''; 

            all_stats.forEach(function(item) {
                cols += '<td class="text-center">' + item.num_runs_done + '</td>';
            });
        %>
        <%- cols %>
        </tr>
        <tr>
            <th>Vertical Feet Done: </th>
            <%
                var cols = ''; 

                all_stats.forEach(function(item) {
                    cols += '<td class="text-center">' + item.vertical_feet + '</td>';
                });
            %>
            <%- cols %>
        </tr>
    </table>
</div>
<%- include('../partials/footer') %>
